<div fxLayout="row" fxLayoutAlign="center center" class="layout-margin-top">
  <md-progress-spinner *ngIf="showLoader" mode="indeterminate"></md-progress-spinner>
</div>

<div fxLayout="column" *ngIf="!showLoader">

  <p class="bs-intro-caption">
    Accepteer suggesties en voeg zelf boodschappen toe.
  </p>

  <md-list>

    <md-list-item
      [ngClass]="{'bs-suggestion': product.suggested && product.status != 'accepted', 'bs-accepted': product.status == 'accepted'}"
      *ngFor="let product of products">

      <h4 md-line>{{product.name}}</h4>
      <p *ngIf="product.bought" class="bs-product-caption" md-line>{{product.bought}}</p>

      <md-select class="bs-product-details bs-pieces-select" floatPlaceholder="never" placeholder="#"
                 [(ngModel)]="product.pieces" (ngModelChange)="groceryListService.updateProduct(product)">
        <md-option *ngFor="let option of groceryListService.piecesOptions" [value]="option">{{ option }}x</md-option>
      </md-select>
      <md-select class="bs-product-details bs-quantity-select" floatPlaceholder="never" placeholder="kg"
                 [(ngModel)]="product.quantity" (ngModelChange)="groceryListService.updateProduct(product)">
        <md-option *ngFor="let option of groceryListService.quantityOptions" [value]="option">{{ option }}</md-option>
      </md-select>

      <div fxLayout="row" fxLayoutAlign="end center" class="bs-grocery-list-actions">
        <button *ngIf="product.suggested && product.status != 'accepted'" class="bs-accept-suggestion" md-mini-fab
                color="primary"
                (click)="groceryListService.acceptSuggestion(product)">
          <md-icon>done</md-icon>
        </button>
        <button *ngIf="product.suggested && product.status != 'rejected'"
                class="bs-reject-suggestion layout-margin-left"
                md-mini-fab
                color="warn"
                (click)="groceryListService.rejectSuggestion(product)">
          <md-icon>clear</md-icon>
        </button>

        <button *ngIf="!product.suggested" class="bs-remove-product layout-margin-left"
                (click)="groceryListService.removeProduct(product)" md-mini-fab>
          <md-icon>clear</md-icon>
        </button>
      </div>

    </md-list-item>

    <md-list-item>

      <h4 md-line></h4>
      <button fxFlexAlign="flex-start" *ngIf="suggestions.length > 1"
              class="bs-accept-suggestion bs-accept-all-suggestion" md-mini-fab color="primary"
              (click)="groceryListService.acceptAllSuggestions()">
        <md-icon>done_all</md-icon>
      </button>

    </md-list-item>

    <md-list-item class="bs-add-product-row">

      <md-input-container floatPlaceholder="never">
        <input #newProductName mdInput type="text"
               (keyup.enter)="groceryListService.addProduct(newProductName.value); newProductName.value = ''"
               placeholder="Voeg iets toe">
      </md-input-container>

    </md-list-item>

  </md-list>

  <div class="bs-list-controls" fxLayout="row" fxLayoutAlign="start center">
    <button md-button md-raised-button color="primary"
            (click)="groceryListService.addProduct(newProductName.value); newProductName.value = ''"
            [disabled]="newProductName.length > 0">
      Voeg Toe
    </button>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around end" class="layout-margin-top">
    <button md-button md-raised-button color="accent" routerLink="/shop">Klaar!</button>
  </div>

</div>
