.bg-suggestion-list {
  color: gray;
}

.bg-suggestion-list .mat-list-item {
  color: lightgray;
}

.bg-suggestion-list .bs-accept-suggestion.mat-mini-fab {
  background-color: rgba(123, 171, 95, 0.66);
}

.bg-suggestion-list .bs-reject-suggestion.mat-mini-fab {
  background-color: rgba(244, 67, 54, 0.66);
}
