.bg-suggestion-list {
  color: gray;
}

.bg-suggestion-list .mat-list-item {
  color: lightgray;
}

.bs-accept-suggestion.mat-mini-fab {
  background-color: rgba(123, 171, 95, 0.4);
}

.bs-reject-suggestion.mat-mini-fab {
  background-color: rgba(244, 67, 54, 0.4);
}

.bs-list-controls {
  height: 5em;
  padding-right: 63px;
}
