<nav *ngIf="isUserView || isAdminSubView" md-tab-nav-bar fxLayout="row" fxLayoutAlign="space-around center">
  <md-icon *ngIf="isAdminSubView" fxAlign="start" class="layout-margin-around" (click)="adminData.goBack()">keyboard_arrow_left</md-icon>
  <a *ngIf="isUserView"
     md-tab-link
     routerLink="/grocery-list/{{userId}}"
     routerLinkActive #rlb="routerLinkActive"
     [active]="rlb.isActive">
    1.
    <md-icon>list</md-icon>
    Voorstel
  </a>
  <a *ngIf="isUserView"
     md-tab-link
     routerLink="/shop"
     routerLinkActive #rlc="routerLinkActive"
     [active]="rlc.isActive">
    2.
    <md-icon>shopping_cart</md-icon>
    Definitief
  </a>
</nav>

<router-outlet></router-outlet>
