<nav md-tab-nav-bar>
  <a md-tab-link
     routerLink="/receipt"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    1. <md-icon>receipt</md-icon> Bon
  </a>
  <a md-tab-link
     routerLink="/grocery-list"
     routerLinkActive #rlb="routerLinkActive"
     [active]="rlb.isActive">
    2. <md-icon>list</md-icon> Lijstje
  </a>
  <a md-tab-link
     routerLink="/shop"
     routerLinkActive #rlc="routerLinkActive"
     [active]="rlc.isActive">
    3. <md-icon>shopping_cart</md-icon> Winkel
  </a>
</nav>

<router-outlet></router-outlet>
