<md-list>
  <h3 md-subheader>Suggesties</h3>
  <md-list-item *ngFor="let suggestion of suggestions">
    <md-icon md-list-icon>redeem</md-icon>
    <h4 md-line>{{suggestion.name}}</h4>
    <p md-line class="bs-subtle-text">toegevoegd op {{suggestion.dateCreated | date: 'short'}} </p>
    <md-icon class="bs-subtle-text" *ngIf="suggestion.status == 'accepted'">done</md-icon>
    <md-icon class="bs-subtle-text" *ngIf="suggestion.status == 'rejected'">clear</md-icon>
    <md-icon class="bs-subtle-text" *ngIf="suggestion.status == 'created'">brush</md-icon>
    <button (click)="adminData.removeSuggestion(suggestion)" md-icon-button>
      <md-icon>remove_circle</md-icon>
    </button>
  </md-list-item>
</md-list>

<div fxLayout="column" fxLayoutAlign="start stretch" class="layout-margin-around">
  <md-input-container>
    <input mdInput #name (keyup.enter)="adminData.addSuggestion(name.value); name.value = ''"
           placeholder="nieuwe suggestie...">
  </md-input-container>
  <button md-raised-button (click)="adminData.addSuggestion(name.value); name.value = ''">Voeg toe</button>
  <md-input-container>
    <textarea mdInput rows="4" #batchNames
              placeholder="nieuwe batch (aparte regels)..."></textarea>
  </md-input-container>
  <button md-raised-button (click)="adminData.addBatchSuggestions(batchNames.value); batchNames.value = ''">Verwerk
    batch
  </button>
</div>

<div fxLayout="column" fxLayoutAlign="start stretch" class="layout-margin-around">
  <md-input-container>
    <textarea [(ngModel)]="batchExport" mdInput rows="4"
              placeholder="Batch Export"></textarea>
  </md-input-container>
  <button md-raised-button (click)="adminData.exportBatchSuggestions(suggestions)">Maak
    export
  </button>
</div>
