<div>
  <p class="bs-intro-caption">
    Vink snel en gemakkelijk boodschappen van je lijst.
  </p>

  <md-card>
    <md-list>

      <md-list-item *ngFor="let product of products">
        <md-checkbox [(ngModel)]="product.checked" (click)="checkProduct(product)"><h4 md-line>{{product.name}}</h4>
        </md-checkbox>
      </md-list-item>

      <md-list-item *ngIf="products.length === 0">
        Je lijst is nog leeg!
      </md-list-item>

    </md-list>
  </md-card>

  <div fxLayout="row" fxLayoutAlign="center center" class="layout-margin-top">
    <button md-button md-raised-button color="accent" (click)="goBack()">Naar je lijst</button>
  </div>
</div>
