@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/icon?family=Roboto';
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: 'Roboto', sans-serif;
}

.layout-margin-top {
  margin-top: 1em !important;
}

.layout-margin-left {
  margin-left: 0.5em !important;
}

.layout-margin-right {
  margin-right: 0.5em !important;
}

.layout-margin-around {
  margin: 1em;
}

.layout-padding-around {
  padding: 1em;
}

.bs-intro-caption {
  text-align: center;
  font-size: 14px;
}
