@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Roboto');
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink';

body {
  font-family: 'Roboto', sans-serif;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.layout-margin-top {
  margin-top: 1em !important;
}

.layout-margin-left {
  margin-left: 0.5em !important;
}

.layout-margin-right {
  margin-right: 0.5em !important;
}

.layout-margin-right-2x {
  margin-right: 1em !important;
}

.layout-margin-around {
  margin: 1em;
}

.bs-full-width {
  width: 100%;
}

.layout-padding-around {
  padding: 1em;
}

.bs-intro-caption {
  text-align: center;
  font-size: 14px;
}

.bs-there-but-gone {
  width: 1px;
  height: 1px;
  opacity: 0;
}

.bs-subtle-text {
  color: #9e9e9e;
}

.bs-caption {
  font-size: 0.8em !important;
  md-icon {
    font-size: 1.2em;
  }
}

.bs-pieces-select {
  width: 35px;
  margin-right: 3px;

  .mat-select-trigger {
    min-width: 35px !important;
  }
  .mat-option {
    padding: 0 2px !important;
  }

}

.bs-product-details {
  .mat-select-arrow,
  .mat-select-disabled .mat-select-value,
  .mat-select-trigger {
    color: rgba(0, 0, 0, .15) !important;
  }
}

.bs-quantity-select {
  width: 55px;
  margin-right: 2%;

  .mat-select-trigger {
    min-width: 55px !important;
  }
  .mat-option {
    padding: 0 2px !important;
  }
}

.bs-grocery-list-actions {
  min-width: 94px;
}
