<div>

  <md-card>
    <md-card-header>
      <md-icon md-card-avatar>face</md-icon>
      <md-card-title>{{user.$key}}</md-card-title>
      <md-card-subtitle>toegevoegd op {{user.dateCreated | date}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <md-input-container class="bs-full-width">
        <input mdInput type="email" placeholder="{{user.email}}" [(ngModel)]="user.email"
               (change)="adminData.updateUser(user)">
      </md-input-container>
    </md-card-content>
  </md-card>

  <md-card class="layout-margin-top">
    <md-card-header>
      <md-icon md-card-avatar>redeem</md-icon>
      <md-card-title>SUGGESTIONS</md-card-title>
      <md-card-subtitle>klik om te bewerken</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <button md-raised-button color="primary" routerLink="suggestions">Bewerken</button>
    </md-card-content>
  </md-card>

</div>
