<div>

  <md-card>
    <md-card-header>
      <md-icon md-card-avatar>face</md-icon>
      <md-card-title>{{user.$key}}</md-card-title>
      <md-card-subtitle>toegevoegd op {{user.dateCreated | date: 'short'}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <md-input-container class="bs-full-width">
        <input mdInput type="email" placeholder="Email" [(ngModel)]="user.email"
               (change)="adminData.updateUser(user)">
      </md-input-container>
    </md-card-content>
  </md-card>

  <md-card class="layout-margin-top">
    <md-card-header>
      <md-icon md-card-avatar>redeem</md-icon>
      <md-card-title>SUGGESTIONS</md-card-title>
      <md-card-subtitle>klik om te bewerken</md-card-subtitle>
    </md-card-header>
    <md-card-content>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button color="primary" routerLink="suggestions">
        <md-icon>edit</md-icon>
        Bewerken
      </button>
    </md-card-actions>
  </md-card>

  <md-card class="layout-margin-top">
    <md-card-header>
      <md-icon md-card-avatar>link</md-icon>
      <md-card-title>LINK</md-card-title>
      <md-card-subtitle>link voor de gebruiker</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <!-- The copy-link-to-clipboard feature requires an actual input -->
      <input class="bs-there-but-gone" type="text" #userUrl value="{{user.url}}">
    </md-card-content>
    <md-card-actions>
      <button md-raised-button [ngxClipboard]="userUrl">
        <md-icon>link</md-icon>
        Kopieer link
      </button>
    </md-card-actions>
  </md-card>

</div>
